@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

#home {
    height: 100vh;
    display: grid;
    place-items: center;
}

h1,
input {
    font-family: "Jura", sans-serif;
}

#container {
    width: 280px;
    padding: 50px 50px 0;
    border-radius: 20px;
    background-color: rgb(225, 225, 225);
    box-shadow: 20px -20px 120px 5px rgb(46, 0, 249),
        -20px 20px 120px 5px rgb(254, 3, 3);

    &:hover {
        box-shadow: 20px -20px 120px 5px rgb(46, 0, 249),
            -20px 20px 120px 5px rgb(254, 3, 3),
            inset 20px -20px 120px 5px rgb(46, 0, 249),
            inset -20px 20px 120px 5px rgb(254, 3, 3);
        transform: scale(1.05);
    }

    transition: box-shadow 0.3s ease-in,
    transform 0.3s ease-in;
}

strong {
    text-align: center;

    &::selection {
        background-color: black;
        color: white;
    }
}

#main {
    height: 180px;
    padding: 10px 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    padding-inline: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 2px;
    height: 30px;
    font-weight: 700;
    font-size: 15px;
    color: black;
    cursor: cell;

    &::placeholder {
        font-weight: 700;
        font-size: 15px;
        color: rgb(90, 90, 90);
    }
}

#button-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-inline: auto;
}

button {
    border-radius: 50px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        transform: scale(1.2);
    }

    transition: transform 0.1s ease-in;
}

img {
    height: 40px;
}

#output {
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding-block: 0 20px;
    min-height: 40px;

}

#success {
    color: rgb(3, 124, 168);

    &::selection {
        background-color: black;
        color: goldenrod;
    }
}

#error {
    color: rgb(237, 29, 29);

    &::selection {
        background-color: black;
        color: goldenrod;
    }
}

p {
    font-weight: 500;

    &::selection {
        background-color: black;
        color: aqua;
    }
}